*.log
node_modules
bundles
workspace.xml
.idea/
*.iml
.env.*
.env
dist/

tmp
e2e-output*/
/e2e/downloads/
*.npmrc
.history
.ng_pkg_build/
/protractorFailuresReport
coverage/
/desktop.ini
out-tsc
!/.protractor-smartrunner/
/reports/
e2e-result-*
