<rs-page-layout-container [showSideNav]="showSideNav" [showHeader]="true" [showSideBar]="false">
  <rs-page-layout-header>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" (click)="openSidebar()" aria-label="Example icon-button with menu icon">
       <mat-icon>menu</mat-icon>
     </button>
     <span>My App</span>
     <span class="example-spacer"></span>

    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
   </mat-toolbar>
  </rs-page-layout-header>
  <rs-page-layout-content>
    <router-outlet></router-outlet>
  </rs-page-layout-content>
</rs-page-layout-container>
