<mat-accordion class="example-headers-align" [togglePosition]="'before'">
  <mat-expansion-panel [expanded]="true" (closed)="onPanelClosed()">
    <mat-expansion-panel-header [ngStyle]="">
      <mat-panel-title> General </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-divider></mat-divider>
      <ng-container *ngFor="let folder of folders">
        <div class="list">
          <mat-list-item class="label"> {{ folder.label }} </mat-list-item>
          <mat-list-item class="value">
            <ng-container *ngIf="folder.type === 'img'; else showText">
              <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">
                <mat-icon>person</mat-icon>
              </button>
            </ng-container>
            <ng-template #showText>
              <span>{{ folder.name }}</span>
            </ng-template>
          </mat-list-item>
          <mat-list-item>
            <mat-slide-toggle  class="toggle" *ngIf="'Authorized' === folder.label" [checked]="true"></mat-slide-toggle>
          </mat-list-item>
        </div>
        <mat-divider></mat-divider>
      </ng-container> 
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
